<form [formGroup]="userRegisterForm" (ngSubmit)="submit()">


    <input type="text" formControlName="name" placeholder="name">
    <span *ngIf="userRegisterForm.controls['name'].errors">Campo requerido</span>
    <tr></tr>
  
    <input type="text" formControlName="price" placeholder="price">
    <span *ngIf="userRegisterForm.controls['name'].errors">Campo requerido</span>
    <tr></tr>
  
    <input type="text" formControlName="description" placeholder="description">
    <span *ngIf="userRegisterForm.controls['name'].errors">Campo requerido</span>
    <tr></tr>
  
    <input type="text" formControlName="stars" placeholder="stars">
    <span *ngIf="userRegisterForm.controls['name'].errors">Campo requerido</span>
    <tr></tr>
  
    <input type="text" formControlName="image" placeholder="image">
    <span *ngIf="userRegisterForm.controls['name'].errors">Campo requerido</span>
    <tr></tr>
  
    <button>Enviar</button>
  </form>